* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #c7e8d9;
  font-family: sans-serif;
}
.app {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  min-width: 600px;
}

.select-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.select-container__select {
  width: 200px;
  margin-top: 5px;
  padding: 2px 0;
}

.options-section {
  display: flex;
  gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.points-section {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  gap: 20px;
}

.question-section {
  background-color: #fff;
  text-align: center;
  padding: 2rem 2.4rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.question-section__answers {
  margin-top: 1em;
}

.question-section__answer {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  /* //line-height: 1.5; */
  padding: 0.4rem 0;
  border-radius: 5px;
  border: none;
  background-color: #4dc0b5;
  color: black;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
  cursor: pointer;
}

.question-section__answer:hover {
  transform: scale(1.05);
  opacity: 0.8;
  overflow: hidden;
}

.question-section__answer + .question-section__answer {
  margin-top: 0.5em;
}
